<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>🎉 Welcome to Crypto Dorea!</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
        <style>
            #signup{
                background-color: #FACA43;
            }
            #signup:hover{
                background-color:#fab656;
            }
        </style>
    </head>
    <body style="background-color:#F6F6F6;padding: 10px;border-radius: 8px;">
        <div>
            <div style="max-width: 700px; margin: 0 auto;margin-top: 20px;padding: 10px;">
                <div style="display: flex; align-items: left;">
                    <div style="margin-right: 0px;">
                        <img src="cid:doreaLogo" alt="Logo" width="40" height="40" style="display: block;">
                    </div>
                    <div style="margin-left: 12px; margin-top: 12px; font-size: 15px; font-weight: 600; font-family: 'Poppins', sans-serif;">
                        <span style="color: #000000;padding-right: 5px;">Crypto</span><span style="color: #ff8635;">Dorea</span>
                    </div> 
                </div>
            </div>
        </div>
        <div style="max-width: 700px; margin: 0 auto;margin-top: 20px; font-family: 'Poppins', sans-serif; font-weight: 500; color: #343434; line-height: 30px;margin-bottom: 20px;">
            <h2><span style="font-size: 32px;">🎉 </span>Welcome to Crypto <span style="color: #ff8635;">Dorea</span>! </h2>
            <h3>Dorea CashBack Grows Your Business <span>to the Moon</span><span> 🚀</span></h3>
            <p style="font-size: 14px;">
                We are thrilled to welcome you to Crypto Dorea, the giveaway platform that utilizes automatic smart contract technology to reward you with cryptocurrencies like Bitcoin, Ethereum, and more.

                <br />

                At Crypto Dorea, we believe that everyone deserves more, which is why we have gathered a team of experts dedicated to providing the best solutions for your business. Our focus is on small- to mid-sized businesses, as we understand that most crypto loyalty programs are expensive and inefficient. With Crypto Dorea, there are no limitations. 
                
                <br />
                
                You have the power to launch your own crypto campaign cashback and reward your most loyal customers using our Auto-Pay system, all at your specified date and time.
                
                <br />
                
                Privacy is of the utmost importance to us. Rest assured that none of your users' information will be saved in our database. All processes within Crypto Dorea are decentralized and transparent on supported blockchains.
                
                <br />

                We are excited to have you join our platform and explore the endless possibilities of growing your business to new heights. Should you have any questions or need assistance, our team is here to support you every step of the way.
                
                Once again, welcome to Crypto Dorea! Get ready to take your business to the moon with Dorea CashBack.
                <br /> <br />
                Best regards,
                <br />
                
                Hadi Mirzaie <br />
                Crypto Dorea Team
            </p>
            <div style="display: flex;margin-left: 40%;">
                <div id="signup" style=" width: 120px;height: 40px;border-radius: 5px;">
                    <a style="display: flex; padding-left:16%;text-decoration: none;color: #000000;margin-top: 5px;font-size: 12px;" href="https://www.cryptodorea.io">Sign up Now!</a>
                </div>
            </div>
        </div>
    </body>
</html>